body {

}

.navbar {
    background-color: rgba(43, 25, 25, 0.384);
}

.sobre {
    background-color: orange;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pareceiros {
    background-color: rgba(43, 25, 25, 0.384);
}